.aside {
  width: 35%;
}

.aside-item {
  width: 100%;
  margin-bottom: 1.5rem;
  color: var(--black-color);
  transition: filter 0.15s ease-in;
}

.aside-item:hover {
  filter: contrast(40%);
}

.aside-item svg {
  width: 16px;
  height: 16px;
  margin-right: 1rem;
}

@media only screen and (max-width: 615px) {
  .aside {
    width: 100%;
    margin-top: 1rem;
    order: 1;
  }
}
