:root {
  --bg-color: #f3f3f3;
  --primary-color: #317b62;
  --secondary-color: #d7dd5f;
  --contract-color: #d2a412;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #d8d8d8;
  --button-color: #272e71;
  --error-color: #ff4141;
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

svg {
  width: 22px;
  height: 22px;
  margin-right: 0.25rem;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 auto;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.p-1 {
  padding: 1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mb-show {
  display: none;
}

.app-content {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 80px auto;
}

.button {
  min-width: 150px;
  border: solid 1px var(--button-color);
  color: var(--button-color);
  background: var(--white-color);
  padding: 1rem 3rem;
  transition: background 0.15s ease-in;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.button:hover {
  background: var(--button-color);
  color: var(--white-color);
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

@media only screen and (max-width: 615px) {
  .app-content {
    flex-direction: column;
    margin: 0;
  }
}
