.field {
  width: 80%;
  margin: auto;
}

.field-label {
  font-weight: bolder;
  margin: 1.5rem 0 1rem;
}

.field-input {
  border-radius: 0;
  border: none;
  border-bottom: solid 2px var(--gray-color);
  font-size: 1.2rem;
  padding: 0.5rem;
  background: var(--bg-color);
}

.field-error {
  color: var(--error-color);
}

.border-error {
  border-color: var(--error-color);
}

.progress-wrapper {
  width: 80%;
  height: 20px;
  margin: 0.5rem auto;
}

.progress {
  width: 50%;
  height: 20px;

  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, var(--secondary-color), var(--primary-color));

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
