.header {
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
}

.menu-items {
  color: var(--white-color);
  margin-right: 2rem;
}

.menu-items:last-child {
  margin: 0;
}

.menu-notif {
  width: 10px;
  height: 10px;
  border-radius: 8px;
  border: solid 1px var(--white-color);
  right: -3px;
  bottom: -3px;
  background: var(--contract-color);
}

.logo {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bolder;
}

.logo-g {
  color: var(--contract-color);
}

.logo-slug {
  border: solid 3px var(--primary-color);
  font-size: 1rem;
  margin-left: 0.25rem;
  margin-right: 1.5rem;
  padding: 0 0.1rem;
}

@media only screen and (max-width: 615px) {
  .mb-show {
    display: flex !important;
  }

  .mb-hide {
    display: none;
  }
}
