.main-form {
}

.form-buttons {
  width: 80%;
  margin: 2rem auto;
}

.success {
  width: 80%;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}

@media only screen and (max-width: 615px) {
  .form-buttons {
    flex-direction: column;
  }
}
